
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://www.pngitem.com/pimgs/m/226-2260470_transparent-admin-icon-png-admin-logo-png-png.png"  id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" [(ngModel)]="userid" id="login" class="fadeIn second" name="login" placeholder="AdminId">
      <input type="password"   [(ngModel)]="password1" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" (click)="onlogin()" value="Login">
    </form>

    <!-- Remind Passowrd -->
    <!-- <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div> -->

  </div>
</div>


